/* GLOBALES */
:root {
  --font-main: rgb(221, 221, 221);
  --background-color: rgb(22, 22, 22);
  --scroll-bar: gray transparent;
  --hour-background: rgb(139, 154, 71);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: rgb(27, 27, 27);
  scrollbar-color: var(--scroll-bar);
}
h1,
h2,
h3 {
  cursor: default;
  color: var(--font-main);
  text-transform: uppercase;
}
body {
  overflow-x: hidden;
}

/* HEADER */
header {
  position: absolute;
  height: 10dvh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  font-size: large;
}
header > div {
  width: 50vw;
  height: 100%;
  display: flex;
  align-items: center;
}
header > div > img {
  height: 100%;
  animation: logo 1s ease-in-out 0s infinite alternate-reverse;
  animation-play-state: running;
}
@keyframes logo {
  to {
    scale: 1.1;
  }
}
header > ul {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header > ul > li > a {
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--font-main);
}

/* Contenedor de seccion twitter y seccion links */
.links-twitter-container {
  padding-top: 10dvh;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-image: url(/assets/fondo.webp);
  box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
}
.link-container {
  position: relative;
  width: clamp(600px, 700px, 900px);
  height: clamp(50dvh, 55dvh, 60dvh);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  perspective: 500px;
}
.link-container p {
  background-color: var(--hour-background);
  outline: 5px solid rgb(0, 0, 0);
  border-radius: 0 0 5px 0;
  font-size: 2em;
  padding: 0 0.2em;
  margin-top: 5%;
  width: fit-content;
  mix-blend-mode: screen;
}
.link-container h3 {
  text-align: center;
  font-size: 150%;
  font-weight: 900;
  margin-bottom: 5%;
}
.izq-carousel,
.center-carousel,
.der-carousel {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  transition: transform 0.2s ease, filter 0.2s ease-out;
}
.izq-carousel,
.der-carousel {
  transform-style: preserve-3d;
  background-color: gray;
  backdrop-filter: brightness(0.5);
  height: 80%;
  width: 25%;
  z-index: 0;
}
.izq-carousel {
  background-image: url("");
  transform: rotateX(0deg) translateX(10%) rotateY(10deg);
  box-shadow: -200px -22px 65px -120px rgba(0, 0, 0, 0.65) inset;
  -webkit-box-shadow: -200px -22px 65px -120px rgba(0, 0, 0, 0.65) inset;
  -moz-box-shadow: -200px -22px 65px -120px rgba(0, 0, 0, 0.65) inset;
  border-radius: 20px 0 0 20px;
}
.der-carousel {
  transform: rotateX(0deg) translateX(-10%) rotateY(350deg);
  box-shadow: 200px -22px 65px -120px rgba(0, 0, 0, 0.65) inset;
  -webkit-box-shadow: 200px -22px 65px -120px rgba(0, 0, 0, 0.65) inset;
  -moz-box-shadow: 200px -22px 65px -120px rgba(0, 0, 0, 0.65) inset;
  background-image: url("");
  border-radius: 0 20px 20px 0;
}
.der-carousel p {
  align-self: flex-end;
  border-radius: 0 0 0 5px;
}
.center-carousel {
  background-image: url("");
  z-index: 1;
  width: 50%;
  border-radius: 20px;
}
.center-carousel a {
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: 50%;
  max-height: 33%;
}
.center-carousel img {
  z-index: 5;
  width: 100%;
  height: 100%;
  filter: invert();
  opacity: 0.5;
  transition: scale 2.5s ease, opacity 0.15s linear;
}
.der-carousel img,
.izq-carousel img {
  position: relative;
  width: 100%;
  bottom: 40%;
  opacity: 0.5;
  position: absolute;
  z-index: 5;
  filter: invert();
  transition: scale 2.5s ease, opacity 0.15s linear;
  cursor: pointer;
}
.izq-carousel img {
  cursor: pointer;
  transform: rotateZ(180deg);
}
.center-carousel img:hover,
.der-carousel img:hover,
.izq-carousel img:hover {
  scale: 1.1;
  opacity: 1;
}

.center-carousel:hover {
  transform: scale(1.025);
}
.izq-carousel:hover {
  transform: translateX(0%) rotateY(5deg) scale(1.025);
}
.der-carousel:hover {
  transform: translateX(0%) rotateY(355deg) scale(1.025);
}

.animacion-derecha {
  animation: moverDer 0.5s ease-out 0s 1 backwards;
}
.animacion-izquierda {
  animation: moverIzq 0.5s ease-out 0s 1 reverse;
}

@keyframes moverDer {
  from {
    background-position: 0 10%;
    filter: brightness(7);
  }
  to {
    background-size: cover;
    filter: brightness(1);
  }
}
@keyframes moverIzq {
  from {
    background-position: 0 -10%;
    filter: brightness(7);
  }
  to {
    background-size: cover;
    filter: brightness(1);
  }
}

.twitter {
  margin-top: 10dvh;
  position: relative;
  width: clamp(100px, 500px, 500px);
  height: clamp(50dvh, 55dvh, 60dvh);
  background-color: var(--background-color);
  box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  color: var(--font-main);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--scroll-bar);
  z-index: 1;
  background-image: url(/assets/Logo_of_Twitter.svg.png);
  background-size: 40%;
  background-repeat: no-repeat;
}
.tweets p {
  color: white;
  margin: 10%;
}
.tweets p::after,
.tweets p::before {
  content: '"';
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
}
.redes {
  background-color: black;
  height: 50dvh;
  width: 100vw;
}
