/* GLOBALES */
:root {
  --font-main: rgb(211, 211, 211);
  --background-color: rgb(22, 22, 22);
  --scroll-bar: gray transparent;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
h1,
h2,
h3 {
  cursor: default;
  color: var(--font-main);
  text-transform: uppercase;
}
body {
  overflow-x: hidden;
  background-color: black;
}

/* HEADER */
header {
  position: absolute;
  height: 10dvh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 21%,
    rgb(0, 0, 0) 74%,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
header > div {
  width: 50vw;
  height: 100%;
  font-size: 2.5em; /* Todo */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
header > ul {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header > ul > li > a {
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--font-main);
}

/* Contenedor de seccion twitter y seccion links */
.links-twitter-container {
  padding-top: 10dvh;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-image: url(/assets/fondo.webp);
  box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
}
.link-container {
  position: relative;
  width: clamp(600px, 700px, 900px);
  height: clamp(50dvh, 55dvh, 60dvh);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  perspective: 500px;
}
.link-container p {
  background-color: rgb(139, 154, 71);
  outline: 5px solid rgb(0, 0, 0);
  border-radius: 0 0 5px 0;
  font-size: 2em;
  padding: 0 0.2em;
  margin-top: 5%;
  width: fit-content;
  mix-blend-mode: screen;
}
.link-container h3 {
  text-align: center;
  margin-bottom: 5%;
}
.izq-carousel,
.center-carousel,
.der-carousel {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  transition: transform 0.5s ease, filter 0.2s ease-out;
}
.izq-carousel,
.der-carousel {
  transform-style: preserve-3d;
  background-color: gray;
  backdrop-filter: brightness(0.5);
  height: 80%;
  width: 25%;
  z-index: 0;
}
.izq-carousel {
  background-image: url("");
  transform: rotateX(0deg) translateX(10%) rotateY(10deg);
}
.der-carousel {
  transform: rotateX(0deg) translateX(-10%) rotateY(350deg);
  background-image: url("");
}
.der-carousel p {
  align-self: flex-end;
  border-radius: 0 0 0 5px;
}
.center-carousel {
  background-image: url("");
  z-index: 1;
  width: 50%;
  background-color: black;
}
.center-carousel img {
  position: absolute;
  z-index: 5;
  width: 50%;
  max-height: 33%;
  filter: invert();
  opacity: 0.5;
  left: 25%;
  bottom: 50%;
  transition: scale 2.5s ease, opacity 0.15s linear;
  cursor: pointer;
}
.der-carousel img,
.izq-carousel img {
  width: 100%;
  margin-top: 50%;
  opacity: 0.5;
  position: absolute;
  z-index: 5;
  filter: invert();
  transition: scale 2.5s ease, opacity 0.15s linear;
  cursor: pointer;
}
.izq-carousel img {
  cursor: pointer;
  transform: rotateZ(180deg);
}
.center-carousel img:hover,
.der-carousel img:hover,
.izq-carousel img:hover {
  scale: 1.1;
  opacity: 1;
}
.izq-carousel:hover,
.der-carousel:hover,
.center-carousel:hover {
  scale: 1.025;
}
.izq-carousel:hover {
  transform: translateX(0%) rotateY(5deg);
}
.der-carousel:hover {
  transform: translateX(0%) rotateY(355deg);
}
.twitter {
  margin-top: 10dvh;
  position: relative;
  width: 30vw;
  height: 70dvh;
  background-color: var(--background-color);
  box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: 1px -195px 101px -84px rgba(0, 0, 0, 1) inset;
  color: var(--font-main);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--scroll-bar);
  z-index: 1;
  background-image: url(/assets/Logo_of_Twitter.svg.png);
  background-size: 40%;
  background-repeat: no-repeat;
}
.tweets p {
  color: white;
  margin: 10%;
}
.tweets p::after,
.tweets p::before {
  content: '"';
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
}
.redes {
  background-color: black;
  height: 50dvh;
  width: 100vw;
}
